body {
    color: rgb(55, 55, 55);
}

a {
    color: rgb(55, 55, 55);
    text-decoration: underline;
    text-decoration-color: rgb(110, 110, 110)
}

a:hover,
a:active {
    color: rgb(55, 55, 55);
    text-decoration-style: none;
}

hr {
    height: 0px;
    border-top: solid 0px lightgray;
}

blockquote {
    margin: 0;
    margin-left: 24px;
    border-left: solid 2px rgb(22, 22, 22);
    padding-left: 12px;
    font-style: normal;
    color: rgb(55, 55, 55);
}

blockquote blockquote {
    margin-left: 0;
    border-left-color: #e7c3e5;
}

blockquote blockquote blockquote {
    border-left-color: #c3e7d2;
}

blockquote blockquote blockquote blockquote {
    border-left-color: lightgray;
}

.site-title {
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem
}

.site-navi .site-title:hover,
.site-navi .site-title a:hover,
.site-navi .site-title a:active {
    text-decoration: underline;
    background-color: transparent;
}

.site-navi {
    padding-bottom: 16px;

}

.site-navi a {
    padding: 5px;
    color: rgb(55, 55, 55);
}

.site-navi a:hover,
.site-navi a:active {
    color: rgb(10, 10, 10);
    background-color: rgb(245, 245, 245);
}

.site-navi-items {
    font-size: 1rem;
}

.site-header-bottom {
    margin-bottom: 20px;
}

.list .article {
    padding-bottom: 40px;
    margin-bottom: 0px;
    border-bottom: solid 0px;
}

.list .article-titles {
    font-family: monospace;
    font-size: 1rem;
    font-weight: normal;
    color: inherit;
    text-decoration: none;
}

.list .article-titles:hover,
.list .article-titles:active {
    color: rgb(10, 10, 10);
    text-decoration: underline;
}

.list .article-meta {
    color: rgb(55, 55, 55);
    margin: 5px 0 10px 0;
}

.list .article-content {
    padding-bottom: 0.5rem;
}

.article-readmore a {
    color: rgb(55, 55, 55);
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.6rem;
    line-height: 1.8rem;
}

.article-readmore a:hover,
.article-readmore a:active {
    color: rgb(10, 10, 10);
    background-color: rgb(245, 245, 245);
}

article .article-meta {
    font-size: 0.9rem;
}

.article-meta a {
    color: inherit;
}

.article-meta a:hover,
.article-meta a:active {
    color: rgb(10, 10, 10);
    background-color: rgb(245, 245, 245);
}

article {
    margin-bottom: 40px;
    line-height: 1.5;
}

.article img {
    max-width: 100%;
    box-sizing: border-box;
    border: solid 1px lightgray;
    padding: 4px;
}

.article > table {
    border: solid 1px rgb(55, 55, 55);
}

.article > table th,
.article > table td {
    border: solid 1px rgb(55, 55, 55);
    padding-left: 10px;
    padding-right: 10px;
}

.article > div {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.article > pre {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.article-image {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.article-title {
    font-family: monospace;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.article-subtitle {
    margin: 0;
    padding: 0;
}

.article-title-series {
    margin: 0;
    padding: 0;
}

.article-title-series a {
    color: inherit;
}

.article-title-series a:hover,
.article-title-series a:active {
    color: gray;
}

.article-title-bottom {
    margin-top: 5px;
}

.about .article-title-bottom {
    margin-bottom: 40px;
}

.article .article-meta {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 20px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.article-meta a {
    color: inherit;
}

.article-meta a:hover,
.article-meta a:active {
    color: gray;
}

.article-meta li {
    padding: 0;
    padding-right: 4px;
    margin: 0;
}

.article-meta li.article-meta-date {
    padding: 0;
    padding-right: 24px;
}

.article-series {
    margin-bottom: 40px;
}

.article-series .series-title a {
    color: inherit;
}

.article-series .series-title a:hover,
.article-series .series-title a:active {
    color: gray;
}

.article-series .active {}

.article-share li {
    margin-right: 4px;
    vertical-align: bottom;
    padding: 0;
}

.page-item.active {
    color: rgb(110, 110, 110)
}

.page-link {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: 450;
    color: rgb(10, 10, 10);
    text-decoration: none;
}

.page-link:active,
.page-link:hover {
    color: rgb(110, 110, 110);
}

.article-pager {
    font-size: 0.9rem;
    padding: 5px;
    text-decoration: none;
}


.article-pager a {
    text-decoration: none;
}

.article-pager a:hover,
.article-pager a:active {
    color: rgb(10, 10, 10);
    background-color: rgb(245, 245, 245);
}

.toc {
    padding: 10px;
    border: solid 1px rgb(55, 55, 55);
}

.toc ul {
    list-style-type: none;
    padding: 0;
    padding-left: 12px;
    margin: 0;
}

.toc nav > ul {
    padding-left: -10px;
}
